const express = require('express');
const app = express();

app.get('/', function(req, res) {
  res.send("I'm Marry Poppins, y'all!");
});

app.listen(3000, function() {
  console.log('Hero app listening on port 3000!');
});