// immutability
let john = {
  name: 'John',
  age: 30
};
const kevin = {};

kevin = john;                       // mutable
kevin = Object.assign({}, john);    // immutable
kevin = { ...john };                // immutable

// lambdas
const double = (a) => 2 * a;

// higher order functions
const arr = [1, 2, 3, 4].map(nr => double(nr)); // -> [2, 4, 6, 8]
