// immutability
let spiderMan = {
  name: 'Peter Parker',
  health: 0
};
let spiderManClone = {};

spiderManClone = spiderMan;                       // mutable
spiderManClone = Object.assign({}, spiderMan);    // immutable
spiderManClone = { ...spiderMan };                // immutable

// lambdas
const fullyHeal = (hero) => hero.health = 100;

// higher order functions
const heroes = [
  { name: 'Iron Man', health: 60 },
  { name: 'Captain America', health: 88 }
];
heroes.forEach(fullyHeal);