@Component({
  selector: 'app-user-list',
  template: `
    <ul>
      <li *ngFor="let user of users">{{ user.name }}</li>
    </ul>
  `
})
export class UserListComponent {
  users: User[] = [
    { name: 'Vincent Vega' },
    { name: 'Jules Winnfield' },
    { name: 'Butch Coolidge' }
  ];
}