@Component({
  selector: 'app-hero-list',
  template: `
    <ul>
      <li *ngFor="let hero of heroes">{{ hero.name }}</li>
    </ul>
  `
})
export class HeroListComponent {
  heroes: Hero[] = [
    { name: 'Starlord', health: 80 },
    { name: 'Rocker Racoon', health: 34 },
    { name: 'Groot', health: 120 }
  ];
}