function Character(name, health) {
  let _name = name;
  let _health = health;

  this.getName = function() { return _name; };
  this.setName = function(newName) { _name = newName; };
  this.getHealth = function() { return _health; };
  this.setHealth = function(newHealth) { _health = newHealth; };

  return this;
}

const spiderMan = new Character('Peter Parker', 0);   // initialize object
spiderMan.setName('Miles Morales');                   // setting field
spiderMan.powers = ['WALL CRAWLING'];                 // still valid...