// constructor function
function Person() {
  let name = '';
  let age = undefined;

  this.getName = function() { return name; };
  this.setName = function(newName) { name = newName; };
  this.getAge = function() { return age; };
  this.setAge = function(newAge) { age = newAge; };

  return this;
}

const user = new Person();  // initialize Person object
user.setName('Carl');       // user.name -> 'Carl'
user.name = 'Kevin';        // still valid...