describe('Avengers Enrollment Form', () => {
  beforeEach(() => {
    cy.visit('http://localhost:8080/avengers/enroll');
  });

  it('should submit a form', () => {
    cy.get('.enroll-form')
      .find('.hero-name')
      .type('Deadpool');
      .submit()
      .next()
      .should('contain', 'Your form has been submitted!');
  });
});