let powerLevel = 9000;
powerLevel = '9000';
powerLevel = true;

const hero = {
  name: 'Iron Man',
  power: 'MONEY'
};

const totalGarbageArray = [42, true, 'doh!'];

function levelUp(level) {
  return level + 1;
}